*{
    margin:0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.container{
    background-color: rgb(158, 45, 45);
    
}

ul{
    display: flex;
    padding: 10px;
}

ul li{
    padding:10px;
    display: inline;
    
    
}