*{
    margin:0;
    padding: 0
    ;
}
.hero{
    border: 1px solid #ffffff;
    height: 900px;
    width: 100%;
    align-content: center;
}

.col-3.img{
    
    height: 400px;
}

.aboutimg{
    padding: 30px;
    border-radius: 20px;
}

.aboutnote{
    padding: 30px;  
}



.col-6.intro{
    margin-top: 0px;
    padding-left: 50px;
    color: #ffffff;
}
.featured{
    padding: 20px;
}

.container{padding: 10px;}