.hero{height: 100px;
border: 1px solid black;
padding: 10px;}

.who_we_are{height: 100px;
    border: 1px solid black;
    padding: 10px;}

.box{height: 100px;
    border: 1px solid black;
    padding: 10px;


}
